<% if Current.player %>
  <div class="player-hand">
    <% Current.player.cards.in_hand.order(:suite, :rank).each do |card| %>
      <% if @game.playing? && card.playable? %>
        <%= button_to game_plays_path(@game), method: :post, params: { play: { card_id: card.id } }, class: "card" do %>
          <%= image_tag "cards/#{card.suite}_#{card.rank}.png", alt: "#{card.suite.capitalize} #{card.rank}" %>
        <% end %>
      <% else %>
        <div class="card <%= 'unplayable' unless card.playable? %>">
          <%= image_tag "cards/#{card.suite}_#{card.rank}.png", alt: "#{card.suite.capitalize} #{card.rank}" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
