<h2>You have a friend invitation!</h2>

<p>Hi there,</p>

<p><strong><%= @inviter.name %></strong> wants to be your friend on Joffre!</p>

<p>To accept this invitation:</p>

<ol>
  <li>Sign up or log in to Joffre</li>
  <li>Go to your Friends page</li>
  <li>You'll see the pending invitation there</li>
</ol>

<p>You can also use their friend code: <strong><%= @inviter.user_code %></strong></p>

<p>Happy gaming!</p>
<p>The Joffre Team</p>
