.invitation-form {
  max-width: 544px;
  margin: 0 auto;
  padding: var(--space-xl) var(--space-md);
  line-height: 1.5;
}

@media (min-width: 600px) {
  .invitation-form {
    padding: var(--space-2xl) var(--space-xl);
  }
}
