.play-area {
  height: 1%;

  max-width: var(--play-area-max);
  max-height: var(--play-area-max);
  background: var(--color-black-alpha-20);
  border-radius: var(--radius-3xl);
  border: 2px solid var(--glass-border);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.table {
  }
}
