:root {
  --flash-success-bg: rgba(76, 175, 80, 0.2);
  --flash-success-color: #4caf50;
  --flash-success-border: rgba(76, 175, 80, 0.4);
  --flash-danger-bg: rgba(244, 67, 54, 0.2);
  --flash-danger-color: #f44336;
  --flash-danger-border: rgba(244, 67, 54, 0.4);
}